{% extends 'app.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block content %}

    <div class="col-12">

        <div class="card">

            <div class="card-body">

                <h3 class="card-title">Accueil</h3>

            </div>

        </div>

    </div>

{% endblock %}